streamlit>=1.32
numpy>=1.24
pandas>=2.0
scipy>=1.11
matplotlib>=3.7
folium>=0.15
branca>=0.7
rasterio>=1.3
geopandas>=0.14
shapely>=2.0
pyproj>=3.6
pysheds>=0.3
hydroeval>=0.1.2
requests>=2.31
boto3>=1.34.0
